<br>
<table align="center" bgcolor="#ffdb60" border="0" cellspacing="0" cellpadding="2" width="100%">
<tr align="center">
<th>
<font color="#282828" size="3">
<b>＼クリアランスバーゲン開催中！／</b>
</font>
</th></tr>
<tr align="center">
<td>
<p><a href="http://item.rakuten.co.jp/rococostore/c/0000000143/"><font color="#282828">会場はコチラ⇒</font></a></p>
</td>
</tr>
</table>
<br>
<table align="center" bgcolor="#bc0c12" border="0" cellspacing="0" cellpadding="2" width="100%">
<tr align="center">
<th>
<font color="#fff" size="3">
<b>＼お買い物マラソン ポイント最大20倍／</b>
</font>
</th></tr>
<tr align="center">
<td>
<p><a href="http://event.rakuten.co.jp/smart/marathon/?l-id=pre_marathon_140920_sp_top_festival_01"><font color="#fff">エントリーはコチラ⇒</font></a></p>
</td>
</tr>
</table>
<br>

<!-- -->
<p>
    <img src="http://image.rakuten.co.jp/rococostore/cabinet/00838644/9617sp1.jpg" width="100%" alt=""/>
</p>
<br>

<p>
    <img src="http://image.rakuten.co.jp/rococostore/cabinet/00838644/9617sp1.jpg" width="100%" alt="">
</p>
<br>

<!-- -->
<table bgcolor="#b00000" cellspacing="15" cellpadding="2" width="100%">
    <tr>
    <th>

    <p align="center">
    <a href="http://item.rakuten.co.jp/rococostore/9999999/?force-site=pc&l2-id=shop_sp_pcview_icon">
    <font color="#ffffff" size="3">
    <b>詳しい内容をPC版で見る<font size="4"> &gt;&gt;</font></b>
    </font></a>
    </p>

    </th></tr>
</table>
<br><br>

<!-- thに bgcolor="#CCCCCC"  scope 削除, tableに border="1"-->
<table width="100%" border="1" cellspacing="0" cellpadding="3">
<tr>
<th align="center" bgcolor="#CCCCCC">商品説明</th>
</tr>
<tr>
<td>
<p>
中折れハットの中ではツバが短いオールアップ型。日本人のシルエットに合うストローハット。<br><br>
頭頂部分にフィットする涙型のトップクラウン。ツバは長さ約4cmの短い作り、地上から約1.5cm程の反り返りがありスタイリッシュな印象。<br><br>
上から下かけて2種類の織りで編み上げられるデザインで、一見シンプルながら手の込んだCLOVER（クローバー）らしい仕上がります。<br><br>
深めな作りで被った際に安定感があり、約1.5cm程の反り上がりのある小さ目なブリムがスタイリッシュなデザイン。日本人の頭や輪郭に合うようデザインされており、しっくりきます◎。<br><br>
</p>
</td>
</tr>
</table>

<!-- thに bgcolor="#CCCCCC"  scope 削除, tableに border="1"-->
<br>
<p align="center"><b>サイズ</b></p>

<table width="100%" cellspacing="0" border="1" cellpadding="3">
<tr>
<th bgcolor="#CCCCCC">&nbsp;</th>
<th width="28%" bgcolor="#CCCCCC">3</th>
<th width="28%" bgcolor="#CCCCCC">4</th>
<th width="28%" bgcolor="#CCCCCC">5</th>
</tr>
<tr>
<th bgcolor="#CCCCCC">サイズ目安</th>
<td>S</td>
<td>M</td>
<td>L</td>
</tr>
<tr>
<th bgcolor="#CCCCCC">肩幅</th>
<td>41cm</td>
<td>42.5cm</td>
<td>44cm</td>
</tr>
<tr>
<th bgcolor="#CCCCCC">身幅</th>
<td>50cm</td>
<td>52cm</td>
<td>54cm</td>
</tr>
<tr>
<th bgcolor="#CCCCCC">袖丈</th>
<td>60cm</td>
<td>61.5cm</td>
<td>63cm</td>
</tr>
<tr>
<th bgcolor="#CCCCCC">着丈</th>
<td>69cm</td>
<td>71cm</td>
<td>73cm</td>
</tr>
</table>

<br>
<table bgcolor="#1f1f1f" cellspacing="10" cellpadding="2" width="100%">
<tr>
<th>
<p align="center">
<a href="http://www.rakuten.ne.jp/gold/rococostore/sp/sp_size.html">
<font color="#fff" size="3">サイズの詳細はこちら</font>
<font color="#01a5ab" size="4"> &gt;&gt;</font></a></p>
</th></tr>
</table>
<br>

<!-- thに bgcolor="#CCCCCC"  scope 削除, tableに border="1"-->
<br>
<p align="center"><b>スペック＆素材</b></p>

<table width="100%" border="1" cellpadding="3" cellspacing="0">
<tr>
<th bgcolor="#CCCCCC">&nbsp;</th>
<th width="70%" bgcolor="#CCCCCC">ONE SIZE</th>
</tr>
<tr>
<th bgcolor="#CCCCCC">サイズ</th>
<td>約34～58cm</td>
</tr>
<tr>
<th bgcolor="#CCCCCC">高さ</th>
<td>約21cm (7cm折り返し時)</td>
</tr>
<tr>
<th bgcolor="#CCCCCC">原産国</th>
<td>MADE IN ENGLAND</td>
</tr>
<tr>
<th bgcolor="#CCCCCC">素材</th>
<td>リネン56%、コットン44%</td>
</tr>
</table>

<!-- 丈直しパンツのみ -->
<br>
<table bgcolor="#1f1f1f" cellspacing="10" cellpadding="2" width="100%">
<tr>
<th>
<p align="center">
<a href="http://www.rakuten.ne.jp/gold/rococostore/sp/sp_take.html">
<font color="#fff" size="3">届いてすぐ履ける！丈直し500円</font>
<font color="#01a5ab" size="4"> &gt;&gt;</font>
</a></p>
</th></tr>
</table>

<!-- メール便対応 -->
<!-- y http://store.shopping.yahoo.co.jp/rococo/guide.html#mailbin -->
<!-- m http://www.rococoweb.com/rococo/infomation.html#deliveryMail2 -->
<br><br>

<table width="100%" border="0" cellpadding="10" cellspacing="0">
<tr>
<th bgcolor="#E5E5E5"><b>■こちらの商品はメール便で発送が可能です</b></th>
</tr>
<tr>
<td bgcolor="#E5E5E5">※メール便送料は全国一律200円ですが、注文確認画面及び自動送信メールでは宅配便送料が自動計算されます。
<br>
    <font color="red">後ほど当店にて送料を再計算の上、メールにて最終金額をご案内いたします。</font><br>
    <a href="http://www.rakuten.co.jp/rococostore/info2.html#mail_01">詳しくはコチラから</a></td>
</tr>
</table>

<!-- -->
<br>
<p>
    <a href="http://www.rakuten.ne.jp/gold/rococostore/images/review_present/sp_review_misanga.jpg"><img src="http://www.rakuten.ne.jp/gold/rococostore/images/review_present/sp_review_misanga.jpg" width="100%" alt=""/></a>
</p>

<!-- yahooのみTOPへ戻るバナー -->
<br>
<a href="http://shopping.geocities.jp/rococo/sp/index.html"><img src="http://shopping.c.yimg.jp/lib/rococo/sp_top.jpg" width="100%" alt=""></a>
<br>